.user-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  .main {
    padding: 20px 0;
    width: 100%;
    flex: 1 0 auto;
    height: 100%;
  }
}

.path {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  a {
    font-size: 18px;
    border-bottom: 2px solid #fff;
    padding: 2px 0px;
    margin: 0 10px;
    &:not(:last-child) {
      font-weight: 600;
      transition: all 0.3s;
      &:hover {
        border-bottom: 2px solid #000;
      }
    }
    &:last-child{
      color: #666;
    }
  }
}
