.modal {
  padding: 10px;
  max-width: max-content;
  margin: 10px 0 20px;
  background: rgba(189, 198, 216, 0.6274509804);
  border-radius: 4px;
  .title-modal {
    margin-bottom: 10px;
  }
  input,
  select,
  button {
    margin: 2px;
    padding: 5px 10px;
    border: none;
    outline: none;
    transition: all 0.2s;
    &:focus {
      box-shadow: 2px 2px 5px #555;
    }
  }
  input::placeholder,
  button {
    text-transform: capitalize;
  }
  textarea {
    margin: 2px;
    padding: 5px 10px;
    max-width: 500px;
    width: 100%;
    line-height: 150%;
    resize: none;
    height: 200px;
    outline: none;
    border-radius: 10px;
    transition: all 0.2s;
    &:focus {
      box-shadow: 2px 2px 5px #555;
    }
  }
}
