body{
  font-family: "Ubuntu",Arial, "Helvetica Neue", Helvetica, sans-serif;
}
strong{
  font-weight: 700;
}
.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 20px 0;
  margin: 0 auto;
}

@media screen and (max-width: 560px) {
  .container{
    padding: 0 8px 0;
  }
}
.emoji{
  font-size: 14px;
}