.header {
  background: #000;
  color: white;
  padding: 20px 10px;
  width: 100%;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: 36px;
  font-weight: 600;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header__nav-item {
  font-size: 18px;
  font-family: monospace;
  display: block;
  &:hover {
    border-bottom: 1px solid #fff;
    font-weight: 600;
  }
}
@media screen and (max-width: 560px) {
  .header__logo {
    font-size: 24px;
  }
  .header__nav-item {
    font-size: 14px;
  }
  .header__nav {
    gap: 10px;
  }
  .header {
    padding: 10px 0;
  }
}
