.loading{
  width: 100%;
  text-align: center;
  margin: 100px 0;
  img{
   width: 100px; 
  }
}
@media screen and (max-width:560px) {
  .loading{
    margin: 50px 0;
    img{
      width: 70px;
    }
  }
}