.cours__info {
  padding: 10px;
  margin: 10px;
  background: #e7e7e7;
  border-radius: 5px;
  display: flex;
  gap: 50px;
  max-width: 500px;
}
.cours__name {
  display: inline-block;
  border-bottom: 3px solid #e7e7e7;
  transition: all 0.3s;
  &:hover {
    border-bottom: 3px solid #000;
  }
  margin: 10px;
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}
.cours__section {
  min-width: 30%;
}
.cours__item {
  font-size: 18px;
  margin: 10px;
  strong {
    text-transform: capitalize;
  }
  span {
    margin-left: 10px;
  }
}
@media screen and (max-width: 560px) {
  .cours__item {
    font-size: 14px;
    margin: 5px;
    line-height: 150%;
    span {
      margin-left: 5px;
    }
  }

  .cours__name {
    font-weight: 700;
    font-size: 18px;
  }
}
